{% extends "base.html" %}
{% block title %}Sound Gong{% endblock %}
{% block headertitle %}<h1>About Sounder Gong</h1>{% endblock %}
{% block stylesheet %}
{% endblock %}
{% block body %}
<div class="row">
	<div class="col-md-12">
		<p>Sounder Gong is provides a mechanism to store and play songs over an http
			interface which then can be integrated into a Digigal Audio Controller (DAC) 
			such as the hifiberry hat.
		</p>
	</div>	
</div>

{% endblock %}
{% block script %}
    <script>

    </script>
{% endblock %}
