{% extends "base.html" %}
{% block title %}Add Sound{% endblock %}
{% block headertitle %}<h1>Add Sound <h1>{% endblock %}
{% block stylesheet %}
{% endblock %}
{% block body %}
<div class="row">
	<div class="col-md-12">

<form method="post" action="/add" enctype="multipart/form-data">

<div class="form-group">
    <label for="inputTitle">Song Title</label>
    <input type="input" class="form-control" name="inputTitle" id="inputTitle" aria-describedby="titleHelp" value="{{ song.Title }}"placeholder="Song Title">
</div>
{% if titleMessageError == true %}
<div class="alert alert-warning" role="alert">
    {{ titleMessage }}
</div>
{% endif %}

<div class="form-group">
    <label for="inputDescription">Description</label>
    <input type="input" class="form-control" name="inputDescription" id="inputDescription" aria-describedby="descriptionHelp" value="{{ song.Description }}"placeholder="Description">
</div>
{% if descriptionMessageError == true %}
<div class="alert alert-warning" role="alert">
    {{ descriptionMessage }}
</div>
{% endif %}

<div class="form-group">
    <label for="inputFile">Song</label>
    <input type="file" class="form-control" name="inputFile" id="inputFile" aria-describedby="fileHelp" value="" placeholder="">
</div>
{% if fileMessageError == true %}
<div class="alert alert-warning" role="alert">
    {{ fileMessage }}
</div>
{% endif %}

<div class="form-group row">
    <div class="col-sm-10">
        <button type="submit" class="btn btn-primary">Submit</button>
    </div>
</div>

</form>

	</div>
</div>
{% endblock %}
{% block script %}
    <script>

    </script>
{% endblock %}
