{% extends "base.html" %}
{% block title %}Sounder Gong{% endblock %}
{% block headertitle %}<h1>Sounder Gong</h1>{% endblock %}
{% block stylesheet %}
{% endblock %}
{% block body %}
<div class="row">
	<div class="col-md-2">
		<a href="/add" class="btn btn-primary">Add</a>
	</div>
	<div class="col-md-2">
	</div>
	<div class="col-md-2">
	</div>
	<div class="col-md-2">
	</div>
	<div class="col-md-2">
	</div>
	<div class="col-md-2">
		<a href="/commit" class="btn btn-primary">Save Database</a>
	</div>
</div>
<div class="row">
	<div class="col-md-12">
		<table class="table">
			<tr>
				<th>
				ID
				</th>
				<th>
				Title
				</th>
				<th>

				</th>
				<th>

				</th>
			</tr>
			
{% for s in songs %}
			<tr>
    				<td>{{ s.ID }}</td>
					<td>{{ s.Title }}</td>
					<td>
						<button class="btn btn-danger copy" data-clipboard-text="http://{{ IPADDR }}:8080/play/{{ s.ID }}">
							Copy to clipboard
						</button>
					</td>
					<td><a href="/play/{{ s.ID }}" class="btn btn-primary">Play</a></td>
					<td><a href="/delete/{{ s.ID }}" class="btn btn-primary">Delete</a></td>
			</tr>
{% endfor %}
		</table>
	</div>
</div>

{% endblock %}
{% block script %}
<script src="/static/clipboard.min.js"></script>
<script>
	new ClipboardJS('.copy');
</script>
{% endblock %}
